footer {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    opacity: 45%;
}

a {
    color: black;
}

a:hover {
    color: #746F71;
}

.link-icons {
    font-size: 20px;
}

.icon {
     margin-left: 3px;
}

@media (max-width: 600px) {
    small {
        font-size: 12px;
    }

    .link-icons {
        font-size: 16px;
    }
}

@media (max-width: 395px) {
    small {
        font-size: 10px;
    }

}

@media (max-width: 340px) {
    small {
        font-size: 10px;
    }

    .link-icons {
        font-size: 13px;
    }
}