:root {
    --primary-color: #ffffff;
    --secondary-color: #9e818a;
    --tertiary-color: #8a5a69;
    --main-font-family: 'Lato', serif;
    --secondary-font-family: 'Playfair Display', serif;
}

footer {
    color: var(--secondary-color);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

a {
    color: var(--secondary-color);
}

a:hover {
    color: var(--tertiary-color);
}

.link-icons {
    font-size: 20px;
}

.icon {
     margin-left: 3px;
}

@media (max-width: 600px) {
    small {
        font-size: 12px;
    }

    .link-icons {
        font-size: 16px;
    }
}

@media (max-width: 395px) {
    small {
        font-size: 10px;
    }

}

@media (max-width: 340px) {
    small {
        font-size: 10px;
    }

    .link-icons {
        font-size: 13px;
    }
}