body {
    background-color: #ddd0d4; 
    font-family: 'Lato', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.hero {
    height: 90%;
}

.hero-intro, .hero-description {
    font-size: 35px;
    font-weight: 300;
    opacity: 60%;
}

.hero-intro {
    margin-top: 150px;
}

.hero-name {
    font-size: 70px;
    font-weight: 400;
    margin: 10px 0;
}


#particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
}

@media (max-width: 600px) {
    .hero-intro, .hero-description {
        font-size: 25px;
    }

    .hero-name {
        font-size: 50px;
    }
}

@media (max-width: 395px) {
    .hero-intro, .hero-description {
        font-size: 19px;
    }

    .hero-name {
        font-size: 40px;
    }
}

@media (max-width: 340px) {
    .hero-intro, .hero-description {
        font-size: 17px;
    }

    .hero-name {
        font-size: 30px;
    }
}